@font-face {
    font-family: "EULA_iropke_batang";
    src: url(../assets/fonts/IropkeBatangM.eot);
    src: url(../assets/fonts/IropkeBatangM.woff);

    font-weight: 400;
    font-style: normal;
}
p,li,h1,h2,h3,h5,a,div{
    font-family: "EULA_iropke_batang",serif;
}



*,
*::before,
*::after{
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
    -webkit-text-size-adjust:100%;
}

body{
    margin:0;
    font-family:"Pretendard", -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
    line-height:1.5;
}


h1,
h2,
h3,
h4,
p,
ul{
    margin:0;
}

ul{
    padding:0;
}

.sr-only{
    position:absolute;
    width:1px;
    height:1px;
    padding:0;
    margin:-1px;
    overflow:hidden;
    clip:rect(0, 0, 0, 0);
    white-space:nowrap;
    border:0;
}
