/* =========================================================
   CONTACT BANNER
========================================================= */

.contact-banner{

    padding:120px 0;

    background:#ffffff;

        background:
        url("../assets/image/contact-bg.png")
        no-repeat
        right center;

    background-size:cover;

}

.contact-wrap{

    position:relative;

    width:min(1400px,92%);
    margin:0 auto;

    min-height:340px;

    border-radius:30px;

    overflow:hidden;

    box-shadow:
        0 25px 70px rgba(0, 0, 0, 0.08);

}

.contact-bg{

    position:absolute;
    inset:0;

    width:100%;
    height:100%;

    object-fit:cover;

    z-index:0;

}

.contact-content{

    position:relative;
    z-index:2;

}

/* ==========================
   LEFT CONTENT
========================== */

.contact-content{

    position:relative;
    z-index:2;

    width:52%;

    padding:60px;

}

.contact-label{

    display:inline-block;

    margin-bottom:18px;

    font-size: 32px;
    font-weight:700;
    letter-spacing:4px;

    color:#F58220;

    text-transform:uppercase;

}

.contact-content h2{

    font-size:58px;

    font-weight:800;

    line-height:1.15;

    color:#111;

    margin-bottom:18px;

    font-family: "Sanchez", serif;

}

.contact-content p{

    font-size:24px;

    font-weight: 700;

    line-height:1.9;

    color:#525151;

    margin-bottom:38px;

}

/* ==========================
   BUTTON
========================== */

.contact-buttons{

    display:flex;

    gap:16px;

}

.contact-btn{

    height:58px;

    padding:0 34px;

    display:inline-flex;

    align-items:center;

    justify-content:center;

    border-radius:14px;

    font-size:20px;

    font-weight:700;

    transition:.35s;

}

.contact-btn.primary{

    background:#111;

    color:#fff;

}

.contact-btn.primary:hover{

    background:#F58220;

    transform:translateY(-3px);

}

.contact-btn.outline{

    border:2px solid #F58220;

    color:#ff7700;

    backdrop-filter:blur(10px);

    background:rgba(255,255,255,.08);

}

.contact-btn.outline:hover{

    background:#fff;

    color:#ff7700;

        transform:translateY(-3px);

}

/* ==========================
   RESPONSIVE
========================== */

@media(max-width:991px){

    .contact-wrap{

        background-position:75% center;

        min-height:620px;

    }

    .contact-content{

        width:100%;

        padding:60px 40px;

    }

}

@media(max-width:768px){

    .contact-banner{

        padding:80px 0;

    }

    .contact-wrap{

        min-height:auto;

        background-position:center bottom;

        background-size:cover;

    }

    .contact-content{

        padding:50px 30px 320px;

        text-align:center;

    }

    .contact-content h2{

        font-size:42px;

    }

    .contact-content p{

        font-size:16px;

    }

    .contact-buttons{

        flex-direction:column;

    }

    .contact-btn{

        width:100%;

    }

}